<div class="col-lg-12">
  <h1 class="text-center">Inicio</h1>

<p>Con esta <b>app</b> puedes:</p>
<ul>
  <li><b style="color:blue">Listar</b> todos los Usuarios</li>
  <li><b style="color: green">Crear</b> Usuario</li>
  <li><b style="color:blue">Actu</b><b style="color: #ffdc44;">alizar</b> Usuario</li>
  <li> <b style="color: #ffdc44">Buscar</b> Usuario por su ID</li>  
  <li> <b style="color:red">Borrar</b>  Usuario por su ID</li>
</ul>

<br>

<p class="text-center" style="font-family: 'Courier New', Courier, monospace">Demo-App desarollada con <b>Angular</b> ,<b>Nodejs</b> (Express) y <b>MongoDB</b> creando asi un <b>STACK MEAN</b> </p>
<p class="text-center" style="font-family: 'Courier New', Courier, monospace">Comunicacion entre frontend y backend mediante una  <b>API REST</b> desarrollada con <b> Express</b> </p>
<p class="text-center" style="font-family: 'Courier New', Courier, monospace">Con esta app aprenderas a hacer un <b>CRUD</b> de usuarios</p>

</div>